<div class="relative top-0">
    <button class="relative w-full bg-lightSeaGreen px-2 py-1 text-textBlack font-inter font-semibold text-xs rounded-[2.75px] border-2 border-textBlack text-center z-10">
        Edit Profile
    </button>

    <div class="absolute inset-0 top-0 left-0 rounded-[2.75px] border-2 border-textBlack bg-textBlack translate-y-[2px] -translate-x-[2px]"></div>
</div>