<div>
    <div class="flex justify-between px-3">
        <div class="flex space-x-2">
            <button class="font-medium text-textBlack text-2xl">
                <i class="ri-heart-3-line"></i>
            </button>
            <button class="font-medium text-textBlack text-2xl">
                <i class="ri-chat-3-line"></i>
            </button>
            <button class="font-medium text-textBlack text-2xl">
                <i class="ri-send-plane-line"></i>
            </button>
        </div>

        <div>
            <button class="font-medium text-textBlack text-2xl">
                <i class="ri-bookmark-line"></i>
            </button>
        </div>
    </div>

    <div class="py-1 px-3 font-inter font-bold text-xs">100 Likes</div>
</div>