---
import Container from "../shared/Container.astro";
import Stories from "../shared/Stories.astro";
---

<section class="relative pt-[85px]">
    <Container className={"flex flex-col"}>
        <div>
            <Stories />
        </div>
    </Container>
</section>