---
import Container from "../shared/Container.astro";
import Stories from "../shared/Stories.astro";
import PostEvents from "../shared/PostEvents.astro";

const storiesItems = [
    {
        imagestrorie:"/images/stories-profile-(1).png",
        text:"Your Story"
    },
    {
        imagestrorie:"/images/stories-profile-(2).png",
        text:"Jack.James"
    },
    {
        imagestrorie:"/images/stories-profile-(3).png",
        text:"Williams_"
    },
    {
        imagestrorie:"/images/stories-profile-(4).png",
        text:"Alex.B"
    },
    {
        imagestrorie:"/images/stories-profile-(5).png",
        text:"James"
    },
]

const postsItems = [
    {
        profileimage:"/images/stories-profile-(2).png",
        mention:"Jack.James",
        sponsered:"Sponsered",
        postimage:"/images/post-(2).jpg",
        posttext:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt... ",
        comment:"View all 16 comments",
    },

    {
        profileimage:"/images/stories-profile-(5).png",
        mention:"Orias_Teguh",
        sponsered:"Sponsered",
        postimage:"/images/post-(1).jpg",
        posttext:"mending not surprise wkwk... ",
        comment:"View all 30 comments",
    },
]
---

<section class="relative pt-[85px]">
    <Container className={"flex flex-col"}>
        <div class="my-3 flex space-x-2 overscroll-auto overflow-x-auto">
            {storiesItems.map(item=>{
                return <Stories {...item}/>
            })
            }
        </div>

        <div class="mb-14">
            {postsItems.map(item=>{
                return <PostEvents {...item}/>
            })
            }
        </div>


    </Container>
</section>