---
import ProfileTabNav from "../navbars/ProfileTabNav.astro"
import ProfileTop from "../navbars/ProfileTop.astro"
---

<section class="relative pt-[85px]">
    <div class="px-5 mb-8">
        <ProfileTop />

        <div class="flex flex-wrap items-center space-x-4 pt-6">
            <div class="w-3/12">
                <img class="w-20 h-20 md:w-40 md:h-40 object-cover rounded-full border-2 border-pink-600 p-1" src="/images/stories-profile-(1).png" alt="profile">
            </div>

            <div class="w-8/12">
                <ul class="flex justify-around text-center p-2 gap-6">
                    <li class="font-sfPro font-normal text-textBlack text-sm">
                        <span class="font-sfPro font-bold">1,234</span>
                        Posts
                    </li>

                    <li class="font-sfPro font-normal text-textBlack text-sm">
                        <span class="font-sfPro font-bold">5,678</span>
                        Followers
                    </li>

                    <li class="font-sfPro font-normal text-textBlack text-sm">
                        <span class="font-sfPro font-bold">9,101</span>
                        Following
                    </li>
                </ul>
            </div>
    </div>

    <div class="text-xs pt-3">
        <h1 class="font-inter font-bold">Marina Jose</h1>
        <span class="font-inter font-normal text-textGray text-[10px]">Blogger</span>
        <p class="font-inter font-normal">Photographer<br>DM for Collaboration</p>
    </div>

    <div class="md:flex md:flex-wrap md:items-center pt-3">
        <a href="#" class="bg-blue-500 px-2 py-1 text-white font-semibold text-sm rounded block text-center sm:inline-block">Follow</a>
    </div>

    <!-- posts -->
    <div class="px-px md:px-3">

    <ProfileTabNav />

      <!-- flexbox grid -->
      <div class="flex flex-wrap -mx-px md:-mx-3">

        <!-- column -->
        <div class="w-1/3 p-px md:px-3">
          <!-- post 1-->
          <a href="#">
            <article class="post bg-gray-100 text-white relative pb-full md:mb-6">
              <!-- post images-->
              <img class="w-full h-full absolute left-0 top-0 object-cover" src="./images/post-(2).jpg" alt="image">

              <i class="fas fa-square absolute right-0 top-0 m-1"></i>
              <!-- overlay-->
              <div class="overlay bg-gray-800 bg-opacity-25 w-full h-full absolute left-0 top-0 hidden">
                <div class="flex justify-center items-center space-x-4 h-full">
                  <span class="p-2">
                    <i class="fas fa-heart"></i>
                    412K
                  </span>

                  <span class="p-2">
                    <i class="fas fa-comment"></i>
                    2,909
                  </span>
                </div>
              </div>

            </article>
          </a>
        </div>

        <div class="w-1/3 p-px md:px-3">
          <a href="#">
            <!-- post 2 -->
            <article class="post bg-gray-100 text-white relative pb-full md:mb-6">
              <img class="w-full h-full absolute left-0 top-0 object-cover" src="/images/post-(2).jpg" alt="image">

              <!-- overlay-->
              <div class="overlay bg-gray-800 bg-opacity-25 w-full h-full absolute left-0 top-0 hidden">
                <div class="flex justify-center items-center space-x-4 h-full">
                  <span class="p-2">
                    <i class="fas fa-heart"></i>
                    412K
                  </span>

                  <span class="p-2">
                    <i class="fas fa-comment"></i>
                    1,993
                  </span>
                </div>
              </div>

            </article>
          </a>
        </div>

        <div class="w-1/3 p-px md:px-3">
          <a href="#">
            <article class="post bg-gray-100 text-white relative pb-full  md:mb-6">
              <img class="w-full h-full absolute left-0 top-0 object-cover" src="/images/post-(2).jpg" alt="image">
              <!-- overlay-->
              <div class="overlay bg-gray-800 bg-opacity-25 w-full h-full absolute left-0 top-0 hidden">
                <div class="flex justify-center items-center space-x-4 h-full">
                  <span class="p-2">
                    <i class="fas fa-heart"></i>
                    112K
                  </span>

                  <span class="p-2">
                    <i class="fas fa-comment"></i>
                    2,090
                  </span>
                </div>
              </div>
            </article>
          </a>
        </div>

        <div class="w-1/3 p-px md:px-3">
          <a href="#">
            <article class="post bg-gray-100 text-white relative pb-full md:mb-6">
              <img class="w-full h-full absolute left-0 top-0 object-cover" src="/images/post-(2).jpg" alt="image">

              <i class="fas fa-video absolute right-0 top-0 m-1"></i>

              <!-- overlay-->
              <div class="overlay bg-gray-800 bg-opacity-25 w-full h-full absolute 
                                left-0 top-0 hidden">
                <div class="flex justify-center items-center 
                                    space-x-4 h-full">
                  <span class="p-2">
                    <i class="fas fa-heart"></i>
                    841K
                  </span>

                  <span class="p-2">
                    <i class="fas fa-comment"></i>
                    909
                  </span>
                </div>
              </div>

            </article>
          </a>
        </div>

        <div class="w-1/3 p-px md:px-3">
          <a href="#">
            <article class="post bg-gray-100 text-white relative pb-full md:mb-6">
              <img class="w-full h-full absolute left-0 top-0 object-cover" src="/images/post-(2).jpg" alt="image">
              <!-- overlay-->
              <div class="overlay bg-gray-800 bg-opacity-25 w-full h-full absolute 
                                left-0 top-0 hidden">
                <div class="flex justify-center items-center 
                                    space-x-4 h-full">
                  <span class="p-2">
                    <i class="fas fa-heart"></i>
                    120K
                  </span>

                  <span class="p-2">
                    <i class="fas fa-comment"></i>
                    3,909
                  </span>
                </div>
              </div>

            </article>
          </a>
        </div>

        <div class="w-1/3 p-px md:px-3">
          <a href="#">
            <article class="post bg-gray-100 text-white relative pb-full md:mb-6">
              <img class="w-full h-full absolute left-0 top-0 object-cover" src="/images/post-(2).jpg" alt="image">
              <!-- overlay-->
              <div class="overlay bg-gray-800 bg-opacity-25 w-full h-full absolute 
                                left-0 top-0 hidden">
                <div class="flex justify-center items-center 
                                    space-x-4 h-full">
                  <span class="p-2">
                    <i class="fas fa-heart"></i>
                    160K
                  </span>

                  <span class="p-2">
                    <i class="fas fa-comment"></i>
                    5,557
                  </span>
                </div>
              </div>

            </article>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
