---
import Layout from "../layouts/Layout.astro"
import ProfileTabNav from "../components/navbars/ProfileTabNav.astro"
import ProfileTop from "../components/navbars/ProfileTop.astro"
import Button from "../components/shared/Button.astro"
import ProfileGridPost from "../components/shared/ProfileGridPost.astro"

const profilePostImage = [
    {
        postone:"/src/assets/images/Post-Image-1.png",
        posttwo:"/src/assets/images/Post-Image-2.png",
        postthree:"/src/assets/images/Post-Image-3.png",
    },
    {
        postone:"/src/assets/images/Post-Image-4.png",
        posttwo:"/src/assets/images/Post-Image-5.png",
        postthree:"/src/assets/images/Post-Image-6.png",
    },
    {
        postone:"/src/assets/images/Post-Image-7.png",
        posttwo:"/src/assets/images/Post-Image-8.png",
        postthree:"/src/assets/images/Post-Image-9.png",
    },
]
---

<Layout title="Neo-Instagram">
    <ProfileTop />
    <section class="relative pt-[85px] mb-20">
        <div class="px-5 mb-8">   
            <div class="flex flex-wrap items-center space-x-4 pt-4">
                <div class="relative w-3/12">
                    <img class="relative w-20 h-20 object-cover rounded-full border-2 border-textBlack z-10" src="/images/stories-profile-(1).png" alt="profile">
    
                    <div class="absolute w-20 h-20 inset-0 top-0 left-0 rounded-full border-2 border-textBlack bg-textBlack translate-y-[3px] -translate-x-[3px]"></div>
                </div>
    
                <div class="w-8/12">
                    <ul class="flex justify-around text-center p-2 gap-6">
                        <li class="font-sfPro font-normal text-textBlack text-sm">
                            <span class="font-sfPro font-bold">1,234</span>
                            Posts
                        </li>
    
                        <li class="font-sfPro font-normal text-textBlack text-sm">
                            <span class="font-sfPro font-bold">5,678</span>
                            Followers
                        </li>
    
                        <li class="font-sfPro font-normal text-textBlack text-sm">
                            <span class="font-sfPro font-bold">9,101</span>
                            Following
                        </li>
                    </ul>
                </div>
        </div>
    
        <div class="text-xs pt-3">
            <h1 class="font-inter font-bold">Marina Jose</h1>
            <span class="font-inter font-normal text-textGray text-[10px]">Blogger</span>
            <p class="font-inter font-normal">Photographer<br>DM for Collaboration</p>
        </div>
    
        <div class="flex w-full justify-between items-center pt-3 gap-2">
            <div class="w-full">
                <Button />
            </div>
    
            <div class="relative top-0">
                <button class="relative bg-lightSeaGreen px-2 py-1 text-textBlack font-inter font-semibold text-xs rounded-[2.75px] border-2 border-textBlack text-center z-10">
                    <i class="ri-user-add-line"></i>
                </button>
    
                <div class="absolute inset-0 top-0 left-0 rounded-[2.75px] border-2 border-textBlack bg-textBlack translate-y-[2px] -translate-x-[2px]"></div>
            </div>
        </div>
      
    
        <div class="pt-4">
            <ProfileTabNav />
            
            <div>
                {profilePostImage.map(item=>{
                    return <ProfileGridPost {...item}/>
                })
                }
            </div>
            <!-- <ProfileGridPost /> -->
        </div>
      </div>
    </section>
</Layout>
