---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Neo-Instagram">
    <div class="flex justify-center items-center h-dvh">
        <h1 class="font-inter font-semibold text-2xl">not yet fixed</h1>
    </div>
</Layout>