@font-face {
  font-family: "SF Pro Text";
  font-weight: 700;
  src: url("/font/SF-Pro-Text-Bold.otf") format("opentype");
}

@font-face {
  font-family: "SF Pro Text";
  font-weight: 400;
  src: url("/font/SF-Pro-Text-Regular.otf") format("opentype");
}
