---
import Container from "../shared/Container.astro";
---

<header class="absolute inset-x-0 top-0 z-50 mt-5 py-6">
    <Container>
        <nav class="w-full flex justify-between gap-5 relative">
            <!-- logo -->
            <div class="min-w-max inline-flex relative">
                <a href="/">
                    <img src="/images/instagram-logo.svg" width="96.27" height="22.27" alt="instagram logo" class="w-full h-full">
                </a>
    
                <button class="ml-1 font-medium text-textBlack">
                    <i class="ri-arrow-down-s-line"></i>
                </button>
            </div>

            <div class="flex min-w-max gap-4">
                <button class="font-medium text-2xl text-textBlack">
                    <i class="ri-heart-3-line"></i>
                </button>
                <button class="font-medium text-2xl text-textBlack">
                    <i class="ri-messenger-line"></i>
                </button>
                <button class="font-medium text-2xl text-textBlack">
                    <i class="ri-add-box-line"></i>
                </button>
            </div>
        </nav>
    </Container>
</header>