<div>
    <div class="flex justify-between px-3">
        <div class="flex items-center space-x-2">
            <a href="" class="font-inter font-bold text-lg">
                Marina_Jose
            </a>

            <button class="ml-1 font-medium text-textBlack">
                <i class="ri-arrow-down-s-line"></i>
            </button>
        </div>

        <div class="inline-flex items-center gap-5">
            <button class="font-medium text-textBlack text-2xl">
                <i class="ri-notification-2-line"></i>
            </button>

            <button class="font-medium text-textBlack text-2xl">
                <i class="ri-more-line"></i>
            </button>
        </div>
    </div>
</div>